@media only screen
and (max-width: 1000px) {
	img{
		width: 50%!important;
	}	
.bg-qna{
		width: 100%!important;
		height: 100%!important;
	}	
	p{
		text-align: center!important;
	}
		.quest{
			height: 90%!important;
		}	
}

@media (max-width : 640px){
	main{
		flex-direction: column;
	section{
		width: 100%!important;
		flex-shrink: 0;
		padding:20px!important;
		&.bg-prod{
			img{
				width:30%!important;
			}
			height: 30%!important;
		}&.qst{
			height: 70%!important;
			width: 100%!important;
		}
	}		
	}

	button{
		margin-top: 5%!important;
		width: 80%!important;
	}

	.circ{
		display: none!important;
	}	

	.App{
		overflow: scroll;
	}
	p{
		text-align: center;
	}

	.info{
		justify-content: center;
	}
}

@media only screen 
and (min-width : 481px)
and (max-width : 1000px) 
and (orientation: landscape){
	section{
		padding: 20px!important;
		div{
			width: auto!important;
			height: auto!important;
		}
	}
			.btn{
				width: 100%;
				padding:10px!important;
				margin-top: 5%;	
			}
	
	p{
		text-align: center;
	}div#cont{
		width: 50%!important;
	}.info{
		height: 100%!important;
		justify-content: center;
	}.quest{
		margin-top: 10%!important;
	}
}

/* Portrait IPAD */
@media only screen 
and (min-device-width: 768px) 
and (max-device-width: 1024px) 
and (orientation: portrait) {
	main{
		flex-direction: column!important;
		section{
			width: 100%!important;
			flex-shrink: 0;
			height: 50%!important;
			padding:20px!important;
			div{
				height: auto!important;
			}
			img{
				width: 50%!important;
			}
		}
	}

	button{
		margin-top: 5%!important;
		width: 80%!important;
	}

	.circ{
		display: none!important;
	}	

	.App{
		overflow: scroll;
	}.bg-qna{
		height: 100%!important;
		width: 100%!important;
		div{
			width: 80%!important;
		}
	}
	p{
		text-align: center;
	}
}

@media only screen
and (min-width: 1400px) {
.prog{
	&-crc{
		width: 20px;
		height: 20px;
		border-radius:100%;
	}
	&-lne{
		width: 36px;
		height: 2px;
	}
}
		
}